In [1]:
import yfinance as yf
import streamlit as st
import pandas as pd

In [2]:
data = pd.read_excel('csv_companies/ticker.csv')

In [3]:
Ticker = data['Papel']

In [5]:
# Function to fetch data for each ticker and return a DataFrame
def fetch_stock_data(Ticker):
    data = []
    for symbol in Ticker:
        stock = yf.Ticker(symbol+'.SA')
        df = stock.history(period="10d")
        df['Ticker'] = symbol
        data.append(df)
    return pd.concat(data, axis=0)

# Create the DataFrame
df = fetch_stock_data(Ticker)
df = df.reset_index()

# Select and reorder the columns
df = df[['Ticker', 'Date', 'High', 'Low', 'Close', 'Volume']]
df.to_csv('Company.csv')
# Display the DataFrame
print(df)

    Ticker                      Date       High        Low      Close  \
0    PETR3 2023-10-27 00:00:00-03:00  39.630001  38.130001  38.480000
1    PETR3 2023-10-30 00:00:00-03:00  38.869999  37.830002  38.169998
2    PETR3 2023-10-31 00:00:00-03:00  38.240002  37.430000  37.840000
3    PETR3 2023-11-01 00:00:00-03:00  38.730000  37.900002  38.279999
4    PETR3 2023-11-03 00:00:00-03:00  38.990002  38.049999  38.599998
..     ...                       ...        ...        ...        ...
385  VBBR3 2023-11-06 00:00:00-03:00  20.620001  20.209999  20.490000
386  VBBR3 2023-11-07 00:00:00-03:00  22.040001  21.320000  21.639999
387  VBBR3 2023-11-08 00:00:00-03:00  22.200001  21.510000  21.830000
388  VBBR3 2023-11-09 00:00:00-03:00  22.040001  21.200001  21.450001
389  VBBR3 2023-11-10 00:00:00-03:00  21.809999  21.080000  21.370001

       Volume
0    13358800
1     8454300
2     6514700
3    13428200
4     9668700
..        ...
385   5896600
386  33380100
387  12481100
388  17717900
389  14014700

[390 rows x 6 columns]

In [6]:
df

,Ticker,Date,High,Low,Close,Volume
0,PETR3,2023-10-27 00:00:00-03:00,39.630001,38.130001,38.480000,13358800
1,PETR3,2023-10-30 00:00:00-03:00,38.869999,37.830002,38.169998,8454300
2,PETR3,2023-10-31 00:00:00-03:00,38.240002,37.430000,37.840000,6514700
3,PETR3,2023-11-01 00:00:00-03:00,38.730000,37.900002,38.279999,13428200
4,PETR3,2023-11-03 00:00:00-03:00,38.990002,38.049999,38.599998,9668700
...,...,...,...,...,...,...
385,VBBR3,2023-11-06 00:00:00-03:00,20.620001,20.209999,20.490000,5896600
386,VBBR3,2023-11-07 00:00:00-03:00,22.040001,21.320000,21.639999,33380100
387,VBBR3,2023-11-08 00:00:00-03:00,22.200001,21.510000,21.830000,12481100
388,VBBR3,2023-11-09 00:00:00-03:00,22.040001,21.200001,21.450001,17717900
389,VBBR3,2023-11-10 00:00:00-03:00,21.809999,21.080000,21.370001,14014700

In [7]:
# Group the DataFrame by 'Ticker'
grouped_df = df.groupby('Ticker')

# Group the DataFrame by 'Ticker'
grouped_df = df.groupby('Ticker')

# Create a dictionary to store DataFrames for each company
company_dataframes = {}

# Iterate through groups and create DataFrames
for ticker, group in grouped_df:
    company_dataframes[ticker] = group.copy()

# Save individual DataFrames to separate CSV files
for ticker, company_df in company_dataframes.items():
    file_name = f"{ticker}_stock_data.csv"
    company_df.to_csv(file_name, index=False)
    print(f"{ticker} DataFrame saved to {file_name}")

ABEV3 DataFrame saved to ABEV3_stock_data.csv
ALOS3 DataFrame saved to ALOS3_stock_data.csv
AMER3 DataFrame saved to AMER3_stock_data.csv
AURE3 DataFrame saved to AURE3_stock_data.csv
B3SA3 DataFrame saved to B3SA3_stock_data.csv
BBAS3 DataFrame saved to BBAS3_stock_data.csv
BBDC4 DataFrame saved to BBDC4_stock_data.csv
BPAC3 DataFrame saved to BPAC3_stock_data.csv
CMIG3 DataFrame saved to CMIG3_stock_data.csv
CPFE3 DataFrame saved to CPFE3_stock_data.csv
CPLE5 DataFrame saved to CPLE5_stock_data.csv
CRFB3 DataFrame saved to CRFB3_stock_data.csv
CSNA3 DataFrame saved to CSNA3_stock_data.csv
ELET3 DataFrame saved to ELET3_stock_data.csv
ENEV3 DataFrame saved to ENEV3_stock_data.csv
EQTL3 DataFrame saved to EQTL3_stock_data.csv
GGBR4 DataFrame saved to GGBR4_stock_data.csv
GOAU4 DataFrame saved to GOAU4_stock_data.csv
HAPV3 DataFrame saved to HAPV3_stock_data.csv
ITSA3 DataFrame saved to ITSA3_stock_data.csv
ITUB4 DataFrame saved to ITUB4_stock_data.csv
JBSS3 DataFrame saved to JBSS3_stock_data.csv
NEOE3 DataFrame saved to NEOE3_stock_data.csv
NTCO3 DataFrame saved to NTCO3_stock_data.csv
PETR3 DataFrame saved to PETR3_stock_data.csv
RAIL3 DataFrame saved to RAIL3_stock_data.csv
RAIZ4 DataFrame saved to RAIZ4_stock_data.csv
RDOR3 DataFrame saved to RDOR3_stock_data.csv
RENT3 DataFrame saved to RENT3_stock_data.csv
SANB3 DataFrame saved to SANB3_stock_data.csv
SBSP3 DataFrame saved to SBSP3_stock_data.csv
SUZB3 DataFrame saved to SUZB3_stock_data.csv
TIMS3 DataFrame saved to TIMS3_stock_data.csv
TRPL3 DataFrame saved to TRPL3_stock_data.csv
USIM3 DataFrame saved to USIM3_stock_data.csv
VALE3 DataFrame saved to VALE3_stock_data.csv
VBBR3 DataFrame saved to VBBR3_stock_data.csv
VIVT3 DataFrame saved to VIVT3_stock_data.csv
WEGE3 DataFrame saved to WEGE3_stock_data.csv