In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import datetime

In [11]:
data = pd.read_excel('csv_companies/50_most_companies.xlsx')

In [12]:
Ticker = data['Papel']

In [9]:
#Ticker.to_csv('csv_companies/ticker.csv')

In [15]:
# Function to fetch data for each ticker and return a DataFrame
def fetch_stock_data(Ticker):
    data = []
    for symbol in Ticker:
        stock = yf.Ticker(symbol+'.SA')
        df = stock.history(period="10d") # The amount of previews days
        df['Ticker'] = symbol
        data.append(df)
    return pd.concat(data, axis=0)

# Create the DataFrame
df = fetch_stock_data(Ticker)
df = df.reset_index()  # Reset the index to have a clean Date column

# Select and reorder the columns
df = df[['Ticker', 'Date', 'High', 'Low', 'Close', 'Volume']]

# Display the DataFrame
print(df)

   Ticker                      Date       High        Low      Close  \
0   PETR3 2023-11-01 00:00:00-03:00  38.730000  37.900002  38.279999
1   VALE3 2023-11-01 00:00:00-03:00  70.699997  69.250000  70.320000
2   ITUB4 2023-11-01 00:00:00-03:00  27.340000  26.860001  27.180000
3   BBDC4 2023-11-01 00:00:00-03:00  14.170930  13.941240  14.101025
4   BBAS3 2023-11-01 00:00:00-03:00  48.740002  48.080002  48.400002
5   ELET3 2023-11-01 00:00:00-03:00  36.290001  34.860001  36.040001
6   ABEV3 2023-11-01 00:00:00-03:00  13.000000  12.760000  12.990000
7   SANB3 2023-11-01 00:00:00-03:00  12.990000  12.670000  12.950000
8   ITSA3 2023-11-01 00:00:00-03:00   8.950000   8.770000   8.880000
9   VIVT3 2023-11-01 00:00:00-03:00  47.750000  45.820000  47.529999
10  HAPV3 2023-11-01 00:00:00-03:00   3.860000   3.610000   3.740000
11  GGBR4 2023-11-01 00:00:00-03:00  22.200001  21.780001  22.180000
12  BPAC3 2023-11-01 00:00:00-03:00  14.500000  13.460000  13.700000
13  JBSS3 2023-11-01 00:00:00-03:00  20.770000  20.020000  20.459999
14  SUZB3 2023-11-01 00:00:00-03:00  51.889999  51.299999  51.450001
15  NEOE3 2023-11-01 00:00:00-03:00  17.770000  17.450001  17.540001
16  SBSP3 2023-11-01 00:00:00-03:00  59.740002  58.410000  59.410000
17  TIMS3 2023-11-01 00:00:00-03:00  15.890000  15.220000  15.830000
18  RENT3 2023-11-01 00:00:00-03:00  52.270000  50.799999  51.919998
19  CMIG3 2023-11-01 00:00:00-03:00  16.600000  15.450000  16.480000
20  USIM3 2023-11-01 00:00:00-03:00   6.830000   6.630000   6.730000
21  RAIZ4 2023-11-01 00:00:00-03:00   3.750000   3.640000   3.750000
22  RDOR3 2023-11-01 00:00:00-03:00  23.219999  21.650000  22.969999
23  CPLE5 2023-11-01 00:00:00-03:00  24.000000  24.000000  24.000000
24  NTCO3 2023-11-01 00:00:00-03:00  12.910000  12.420000  12.580000
25  B3SA3 2023-11-01 00:00:00-03:00  11.650000  11.130000  11.550000
26  CRFB3 2023-11-01 00:00:00-03:00   9.720000   9.000000   9.670000
27  EQTL3 2023-11-01 00:00:00-03:00  32.459999  31.610001  32.259998
28  CSNA3 2023-11-01 00:00:00-03:00  11.990000  11.780000  11.970000
29  CPFE3 2023-11-01 00:00:00-03:00  34.279999  33.590000  33.950001
30  TRPL3 2023-11-01 00:00:00-03:00  29.990000  29.490000  29.959999
31  GOAU4 2023-11-01 00:00:00-03:00  10.510000  10.290000  10.510000
32  WEGE3 2023-11-01 00:00:00-03:00  33.290001  32.799999  33.080002
33  RAIL3 2023-11-01 00:00:00-03:00  23.160000  22.219999  23.000000
34  AURE3 2023-11-01 00:00:00-03:00  13.570000  13.030000  13.470000
35  AMER3 2023-11-01 00:00:00-03:00   0.870000   0.810000   0.830000
36  ALOS3 2023-11-01 00:00:00-03:00  23.290001  22.709999  22.850000
37  ENEV3 2023-11-01 00:00:00-03:00  10.950000  10.620000  10.810000
38  VBBR3 2023-11-01 00:00:00-03:00  20.440001  19.850000  20.150000

       Volume
0    13428200
1    31543500
2    26217000
3    42471800
4    10905000
5     8905800
6    40528700
7       88800
8      119500
9     4127600
10  185267500
11    9310700
12      27800
13   10271800
14    4350500
15    2161500
16    3575700
17   12930700
18    9742100
19     608700
20     335200
21   18109500
22    9060800
23          0
24    9804000
25   44636800
26   17212300
27    7695800
28   10222000
29    2421700
30       1600
31   11026900
32   11413500
33   18741000
34    7182500
35    7245700
36    5369300
37   12997900
38   11223600

In [6]:
display(df)

,Ticker,Date,High,Low,Close,Volume
0,PETR3,2023-11-01 00:00:00-03:00,38.730000,37.900002,38.279999,13428200.0
1,VALE3,2023-11-01 00:00:00-03:00,70.699997,69.250000,70.320000,31543500.0
2,ITUB4,2023-11-01 00:00:00-03:00,27.340000,26.860001,27.180000,26217000.0
3,BBAS3,2023-11-01 00:00:00-03:00,48.740002,48.080002,48.400002,10905000.0
4,ABEV3,2023-11-01 00:00:00-03:00,13.000000,12.760000,12.990000,40528700.0
5,SANB3,2023-11-01 00:00:00-03:00,12.990000,12.670000,12.950000,88800.0
6,ITSA3,2023-11-01 00:00:00-03:00,8.950000,8.770000,8.880000,119500.0
7,VIVT3,2023-11-01 00:00:00-03:00,47.750000,45.820000,47.529999,4127600.0
8,HAPV3,2023-11-01 00:00:00-03:00,3.860000,3.610000,3.740000,185267500.0
9,GGBR4,2023-11-01 00:00:00-03:00,22.200001,21.780001,22.180000,9310700.0
10,BPAC3,2023-11-01 00:00:00-03:00,14.500000,13.460000,13.700000,27800.0
11,JBSS3,2023-11-01 00:00:00-03:00,20.770000,20.020000,20.459999,10271800.0
12,SUZB3,2023-11-01 00:00:00-03:00,51.889999,51.299999,51.450001,4350500.0
13,NEOE3,2023-11-01 00:00:00-03:00,17.770000,17.450001,17.540001,2161500.0
14,SBSP3,2023-11-01 00:00:00-03:00,59.740002,58.410000,59.410000,3575700.0
15,TIMS3,2023-11-01 00:00:00-03:00,15.890000,15.220000,15.830000,12930700.0
16,RENT3,2023-11-01 00:00:00-03:00,52.270000,50.799999,51.919998,9742100.0
17,CMIG3,2023-11-01 00:00:00-03:00,16.600000,15.450000,16.480000,608700.0
18,USIM3,2023-11-01 00:00:00-03:00,6.830000,6.630000,6.730000,335200.0
19,RAIZ4,2023-11-01 00:00:00-03:00,3.750000,3.640000,3.750000,18109500.0
20,RDOR3,2023-11-01 00:00:00-03:00,23.219999,21.650000,22.969999,9060800.0
21,CPLE5,2023-11-01 00:00:00-03:00,24.000000,24.000000,24.000000,0.0
22,NTCO3,2023-11-01 00:00:00-03:00,12.910000,12.420000,12.580000,9804000.0
23,B3SA3,2023-11-01 00:00:00-03:00,11.650000,11.130000,11.550000,44636800.0
24,CRFB3,2023-11-01 00:00:00-03:00,9.720000,9.000000,9.670000,17212300.0
25,EQTL3,2023-11-01 00:00:00-03:00,32.459999,31.610001,32.259998,7695800.0
26,CSNA3,2023-11-01 00:00:00-03:00,11.990000,11.780000,11.970000,10222000.0
27,CPFE3,2023-11-01 00:00:00-03:00,34.279999,33.590000,33.950001,2421700.0
28,TRPL3,2023-11-01 00:00:00-03:00,29.990000,29.490000,29.959999,1600.0
29,GOAU4,2023-11-01 00:00:00-03:00,10.510000,10.290000,10.510000,11026900.0
30,WEGE3,2023-11-01 00:00:00-03:00,33.290001,32.799999,33.080002,11413500.0
31,RAIL3,2023-11-01 00:00:00-03:00,23.160000,22.219999,23.000000,18741000.0
32,AURE3,2023-11-01 00:00:00-03:00,13.570000,13.030000,13.470000,7182500.0
33,AMER3,2023-11-01 00:00:00-03:00,0.870000,0.810000,0.830000,7245700.0
34,ALOS3,2023-11-01 00:00:00-03:00,23.290001,22.709999,22.850000,5369300.0
35,ENEV3,2023-11-01 00:00:00-03:00,10.950000,10.620000,10.810000,12997900.0
36,VBBR3,2023-11-01 00:00:00-03:00,20.440001,19.850000,20.150000,11223600.0

In [12]:
df.to_csv('csv_companies/prices/B3_02_11_23.csv')